.flash-box {
  font-size: 1rem;
  color: white;
  font-weight: lighter;
  text-align: center;
  width: 100vw;
  .notice {
    background-color: $light_blue;
  }
  .alert {
    background-color: $alert_orange;
  }
}